
.slideshow-container {
  max-height: 400px;
  
  width: 100%;
  position: relative;
  margin: auto;
}
* {box-sizing: border-box;}

.slideshow-container .mySlides {
  
  display: none;
}


.slideshow-container img {
  vertical-align: middle;
  max-height: 400px;

  min-height: 400px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 52px;
  padding: 12px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-family: 'rawy';
   background-color:  rgba(64, 70, 68, 0.565);
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 16px}
}
@media only screen and (min-height: 820px) {
  .slideshow-container {
    max-height: 500px;
  }
  .slideshow-container img {
    
    max-height: 500px;
  
   
  }
}
  @media only screen and (min-height: 1200px) {
    .slideshow-container {
      max-height: 600px;
    }
    .slideshow-container img {
      
      max-height: 600px;
    
     
    }
}
